@import url("style.css");

.round-select-container {
  display: flex;
  gap: 75px;
}

.round-select-btn {
  padding: 4px 8px;
  border-radius: 6px;
  /* border: 1px solid var(--dark-text); */
  border: none;
  background-color: var(--off-white);
  font-size: 36px;
  font-weight: thin;
  color: var(--dark-text);
  /* box-shadow: 0px 0px 5px #aaaaaa; */
}

/* .round-select-btn > img {
  height: 125px;
} */

.round-select-btn:hover,
.play-game-btn:hover {
  cursor: pointer;
}

.round-select-btn:hover {
  text-decoration: underline;
}



.play-game-btn:hover {
  box-shadow: 2px 2px 4px #aaaaaa;
}

.round-select-btn.select {
  text-decoration: underline;
}

.play-game-btn {
  font-size: 28px;
  padding: 8px 0;
  width: 100%;
  border: 1px solid var(--dark-text);
  /* border: none; */
  background-color: var(--off-white);
  border-radius: 6px;
}

.play-game-btn.inactive {
  border-color: #aaaaaa;
  color: #aaaaaa;
}

.play-game-btn.inactive:hover {
  text-decoration: none;
  box-shadow: none;
  cursor: not-allowed;
}