.home-replay-btn-container {
  display: flex;
  gap: 15px;
  width: 100%;
}

.home-btn,
.replay-btn {
  font-size: 28px;
  padding: 8px 0;
  width: 100%;
  border: 1px solid var(--dark-text);
  /* border: none; */
  background-color: var(--off-white);
  border-radius: 6px;
  color: var(--dark-text);
  flex: 1 1 auto;
}

.home-btn:hover,
.replay-btn:hover {
  box-shadow: 2px 2px 4px #aaaaaa;
  cursor: pointer;
}