.choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.choice-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  color: var(--dark-text);
}

.choice-container img {
  height: 250px;
}

.next-round-btn {
  font-size: 28px;
  padding: 8px 0;
  width: 100%;
  border: 1px solid var(--dark-text);
  /* border: none; */
  background-color: var(--off-white);
  border-radius: 6px;
  color: var(--dark-text);
}

.next-round-btn:hover {
  box-shadow: 2px 2px 4px #aaaaaa;
  cursor: pointer;
}